.staffBlock {
  padding-top: 4px;
  padding-bottom: 8px;
}

.canvas {
  display: block;
}

@media (max-width: 768px) {
  .staffBlock {
    padding-top: 0;
    padding-bottom: 0;
    height: 100px;
    overflow: hidden;
  }
}
